@import 'colors';

body {
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
:before,
:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb
}

.children\:bg-white>* {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.custom {
  background-color: #222;
}

input.custom {
  background-color: #222;
  border-color: #555;
  outline-color: #555;
  padding-left: 0.5rem;
  color: white;
}

input.custom::after {
  content: 'g';
}

input.custom::placeholder {
  color: #555;
}

input.custom:focus {
  background-color: #333;
  border-color: #fff;
  outline-color: #333;
  color: white;
}

.solid-select-list {
  overflow-x: hidden;
  overflow-y: scroll;
}

.custom.solid-select-container {
  color: #fff;
  overflow-wrap: break-word;
  scrollbar-width: none !important;
}

.custom .solid-select-control {
  outline-color: #555;
  border-color: #555;
  background-color: #222;
}

.custom .solid-select-input:focus {
  outline-color: #fff;
  border-color: #fff;
  word-wrap: normal !important;
}

.custom .solid-select-placeholder {
  color: #555;
}

.custom .solid-select-input {
  color: #fff;
}

.custom .solid-select-option {
  margin: 1px;
  width: 45vw;
  word-wrap: normal !important;
  white-space: normal !important;
}

.custom .solid-select-option[data-focused=true] {
  background-color: #666;
  color: #fff;
}

.custom .solid-select-option[data-focused=false] {
  background-color: #555;
  color: #aaa;
}

.custom .solid-select-option:hover {
  background-color: #666;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.always-full-page {
  min-height: 100vh;
}